body {
    color: white;
    background: rgb(231, 234, 231);
    margin: 0px;
    font-family: "Montagu Slab", serif;
}
body {
color: rgb(241, 242, 240);
background: rgb(0, 0, 0);
margin: 0px;
}

header{
border-bottom: solid 2px rgb(233, 237, 233);
padding: 20px ;
font-size: 26px ;
color: (204, 20, 232, 0.725 );
}

section {
background: rgb(11, 219, 108);
padding-bottom: 80px;
padding-top: 80px;
display: flex;
justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1{
    font-size: 27px;
}

p {
    font-size: 25px;
}