body {
    color: white;
    background: rgb(35, 150, 35);
    margin: 0px;
}
body {
color: rgb(37, 187, 0);
background: rgb(17, 15, 16);
margin: 0px;
}

header{
border-bottom: solid 2px rgb(16, 191, 16);
padding: 20px ;
font-size: 26px ;
color: (204, 20, 232, 0.725 );
}


.chamada-texto {
    margin-right: 5%;
}